body {
	color: #;
	font-family: 'Courier New';
	font-size: 14px;
	line-height: 1.6;
	text-shadow: 0 1px 0 #ffffff;
	margin: 5%;
	background: #ddddff;
}

code {
	background: white;
}

a {
	color: #4444dd;
}

a:hover {
	color: #000000;
}
